---

---

<footer class="bg-dark-950 text-white grid grid-cols-1 md:grid-cols-3 gap-4 p-6 border-primary-900 border-t-4 mt-18 pt-8">
  <div class="footer__section--one">
    <a
      href="./"
      class="footer__logo--container"
      aria-label="Logo de Nnova Designs"
      ><img
        src="./img/Logo_Nnova_white_very-small.webp"
        alt="logo Nnova Designs"
        class="footer__logo--img"
      /></a
    >
  </div>
  <div class="footer__section--two">
    <div class="contact__info--container">
      <p class="contact__text--address">
        Mariscal Estigarribia 1120 - Panchito López 25<br />Aregua (central)
      </p>
      <p class="contact__text--phone">
        <a href="tel:+595983974698">Telf: +595 983 974698</a>
      </p>
      <p class="contact__text--email">
        <a href="mailto:contacto@nnovadesigns.com" class="mail--link"
          >contacto@nnovadesigns.com</a>
      </p>
    </div>
    <div class="rrss__info--container">
      <div class="facebook__icon--container">
        <a
          href="https://www.facebook.com/NnovaDesigns"
          class="facebook__icon--link"
          target="_blank"
          aria-label="Logo de Facebook"
        >
          <svg
            width="24px"
            height="24px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </a>
      </div>
      <div class="instagram__icon--container">
        <a
          href="https://www.instagram.com/nnovadesigns/"
          class="instagram__icon--link"
          target="_blank"
          aria-label="Logo de instagram"
        >
          <svg
            width="24px"
            height="24px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M12 16a4 4 0 100-8 4 4 0 000 8z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
              stroke-width="1.5"></path><path
              d="M17.5 6.51l.01-.011"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </a>
      </div>
      <div class="twitter__icon--container">
        <a
          href="https://twitter.com/NnovaDesigns"
          class="twitter__icon--link"
          target="_blank"
          aria-label="Logo de Twitter"
        >
          <svg
            width="24px"
            height="24px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#000000"
            ><path
              d="M23 3.01s-2.018 1.192-3.14 1.53a4.48 4.48 0 00-7.86 3v1a10.66 10.66 0 01-9-4.53s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5 0-.278-.028-.556-.08-.83C21.94 5.674 23 3.01 23 3.01z"
              stroke="#000000"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </a>
      </div>
      <div class="linkedin__icon--container">
        <a
          href="https://be.linkedin.com/in/diego-lara-espinosa-398089152"
          class="linkedin__icon--link"
          target="_blank"
          aria-label="Logo de LinkedIn"
        >
          <svg
            width="24px"
            height="24px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </a>
      </div>
    </div>
  </div>
  <div class="footer__section--three">
    <ul>
      <li><a href="./privacidad">Privacidad</a></li>
      <li><a href="./aviso-legal">Aviso legal</a></li>
      <li><a href="./cookies">Cookies</a></li>
      <li><a href="./contacto">Contacto</a></li>
    </ul>
  </div>
  <div class="text-center col-span-3">
    <p class="copyright__text">
      Nnova Designs 2023 © - Todos los derechos reservados.
    </p>
  </div>
</footer>
