---
---
<h2 class="text-center text-5xl my-14 font-bold">¿Porqué confiar en nosotros?</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-3/4 gap-4 mx-auto pb-14">
    <div class="flex flex-col items-center justify-center p-4 rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-all duration-300
    ">
        <div class="text-gray-500 ">
            <img src="img/icons/diamond.svg" alt="" class="w-16 h-16 mb-4 text-primary-950">
        </div>
        <h3 class="text-2xl font-bold mb-2 text-primary-950">Calidad</h3>    
        <p class="text-center">Nuestra empresa se caracteriza por ofrecer acabados europeos que elevan tu estilo de vida, brindando altos estándares de confort y calidad en cada detalle.</p>    
    </div>
    <div class="flex flex-col items-center justify-center p-4 rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-all duration-300
    ">
        <div class="text-gray-500 ">
            <img src="img/icons/shield.svg" alt="" class="w-16 h-16 mb-4 text-primary-950">
        </div>
        <h3 class="text-2xl font-bold mb-2 text-primary-950">Seguridad</h3>    
        <p class="text-center">En cada proyecto, demostramos nuestro compromiso y rigor, cumpliendo con seriedad los acuerdos establecidos para garantizar la seguridad de tu total satisfacción.</p>    
    </div>
    <div class="flex flex-col items-center justify-center p-4 rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transition-all duration-300 col-span-1 md:col-span-2 lg:col-span-1
    ">
        <div class="text-gray-500 md:col-span-2">
            <img src="img/icons/heart-handshake.svg" alt="" class="w-16 h-16 mb-4 text-primary-950">
        </div>
        <h3 class="text-2xl font-bold mb-2 text-primary-950">Compromiso</h3>    
        <p class="text-center">Nos comprometemos con cada cliente, entendiendo sus necesidades y trabajando incansablemente para brindar soluciones a medida y un servicio excepcional.</p>    
    </div>
</div>